<link rel="stylesheet" href="/css/_header.css">
<style>
    .font-me{
        font-size:  30px;
    }
    .img-sizze{
        height: 10px;
        width: 10px;
    }
</style>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
  <div class="container padding_786">
      <nav class="navbar navbar-toggleable-md navbar-light ">
          <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
          <a class="navbar-brand" href="#"><img src="/images/home/artlogo.jpg" alt="img" class="mobile_logo_width img-sizze"/></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link font-me" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">Polity<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">अपराध <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">खलिहान <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">बाजार <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">खेल <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">संस्कृति<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link font-me" href="#">मनोरंजन<span class="sr-only">(current)</span></a>
                  </li>
                  
                  <li class="nav-item  font-me">
                      <a class="nav-link" href="Contact_us.html">Sampark <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</div>